*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #E9A6A6;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1F1D36;
    justify-content: flex-start;
}

header {
    background-color: #864879;
    text-align: center;
    color: #E9A6A6;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 10px solid #E9A6A6;
    padding: 20px;
}
section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    border-radius: 8px; 
}

button {
    border-radius: 10px;
    color: #1F1D36;
    background-color: #E9A6A6;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px 15px;
}

.quiz{
    width: 500px;
    height: 600px;
    text-align: center;
    font-size: 24px;
}

.timer {
    height: 240px;
    padding: 10px;
    background: #13293d;
    color: #E9A6A6;
    text-align: center;

}

.timer-text {
    padding: 50px;
    font-weight: bold;
}

.choice-text {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.choice-box {
    border-bottom: 1px solid #E9A6A6;
    margin: auto;
}

.choice-box:hover {
    cursor: pointer;
    color:#1F1D36;
    box-shadow: #E9A6A6;
    border-radius: 10px;
}

.container {
    background: #3F3351;
    border: 1px solid #E9A6A6;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
}

.score-container {

}

.correct {
    background-color: palegreen;
}

.incorrect {
    background-color: rgb(231, 49, 46);
}